:root {
    --primary-color: #912279;
    --secondary-color: hsl(219, 26%, 58%);
    --font-color: violet;
    --background-color: #f5f5f5;
}    

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

 .menu-icon {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin: 10px;

}
.bar {
    height: 4px;
    width: 100%;
    background-color: aqua;
    border-radius: 5px;
    transition: 0.3s;
}
.menu{
    display: none;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.menu.open {
    display: block;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
.menu li{
    mask-repeat: 10px 0;
}
.menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.hero p{
    width: 500px;
    
}
.hero img{
    width: 200px;
    padding: 20rem;
}