nav {
 background-color: orangered;
 padding: 10px;
}
nav a {
    color: black;
    display: table-caption;
    padding: 20px;
    text-align: center;
}
h1{
    color: red;
}
aside{
    width: 20cm;
    margin: 1cm;
    border: 1px solid rgba(red, green, blue, alpha); 
padding: 1cm;
background-color: aqua;
color: #333;
text-align: center;}
aside img{
    width: 200px;
    height: auto;
}

img{
  width: 200px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  text-align: center;
  
}
p {
    padding: 10px;
}
main {
  max-width: 840px;  
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid red(0,0,0,0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img{
    width: 100px;
    height: auto;
}
p { padding: 0;}
footer{
    margin: 15px;
    border: 1px solid #000;
    text-align: center;
 }
  